<template>
    <div class="slds-page-header">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon
                            icon-name="custom:custom85"
                            size="medium"
                        ></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span>{label.title}</span>
                                </h1>
                                <lightning-combobox
                                    name="progress"
                                    label="Status"
                                    value={selectedOption}
                                    placeholder="Select Progress"
                                    options={options}
                                    variant="label-hidden"
                                    class="slds-p-top_x-small"
                                    onchange={handleSelectionChange}
                                ></lightning-combobox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <div class="slds-page-header__control">
                        <lightning-input
                            name="enter-search"
                            variant="label-hidden"
                            placeholder={label.searchPlaceholder}
                            value=""
                            onchange={handleKeyChange}
                            type="search"
                            style="width: 200px;"
                        ></lightning-input>
                    </div>
                    <div class="slds-page-header__control">
                        <lightning-button
                            label={label.newButtonLabel}
                            onclick={newButtonHandler}
                        ></lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <lightning-datatable
        key-field="id"
        data={data}
        columns={columns}
        onrowaction={handleRowAction}
        hide-checkbox-column
    >
    </lightning-datatable>

    <template if:true={showEditModal}>
        <c-my-list-edit-modal
            current-list={currentList}
            onrefresh={refreshList}
            onclose={closeEditModal}
            obj-user={objUser}
            is-clone={isClone}
            component-info={componentInfo}
            users-or-groups={usersOrGroups}
        ></c-my-list-edit-modal>
    </template>
    <template if:true={showDeleteModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
            <header class="slds-modal__header">
                    <button
                    class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                    title={label.close}
                    onclick={closeDeleteModal}
                >
                    <lightning-icon
                        icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small"
                    >
                    </lightning-icon>
                    <span class="slds-assistive-text">{label.close}</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{label.deleteModalHeader}</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p class="slds-text-align--center">{label.deleteModalText}</p>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeDeleteModal}>{label.cancel}</button>
                <button class="slds-button slds-button_brand" onclick={deleteItem}>{label.delete}</button>
            </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>