<template>
    <section class="slds-popover payload" role="dialog" style={positionStyle}>
        <div class="slds-popover__body">
            <template if:true={record}>
                {typeOfUseLabel}: {typeOfUseValue} <br/>
                {investmentVolumeFromLabel}: {investmentVolumeFromValue} <br/>
                {investmentVolumeToLabel}: {investmentVolumeToValue} <br/>
                {occupancyRateLabel}: {occupancyRateValue} <br/>
                {macroLocationLabel}: {macroLocationValue} <br/>
                {microLocationLabel}: {microLocationValue} <br/>
                {riskCategoryLabel}: {riskCategoryValue} <br/>
                {waltFromLabel}: {waltFromValue} <br/>
                {irrFromLabel}: {irrFromValue} <br/>
                {cocFromLabel}: {cocFromValue} <br/>
                {factorLabel}: {factorValue} <br/>
                {commentsLabel}: {commentsValue} <br/>
            </template>
        </div>
    </section>
</template>