.wrapper {
    margin-top: 38px;
    margin-left: 17px;
    height: 48px;
    position: relative;
}

.label {
    top: 64px;
    left: 44px;
    right: 0;
    text-align: center;
    max-width: 350px;
}

.slider {
    left: 28px;
    right: 8px;
    max-width: 350px;
}

.noUi-target,
.noUi-handle {
    box-shadow: none !important;
}

.noUi-target {
    background: #ffffff;
    border: 1px solid rgb(216, 221, 230);
    border-radius: 0.25rem;
}