.simpleText{
    display: flex !important;
}

/* .slds-popover.slds-nubbin_left{
    position: fixed !important;
    margin-top: calc(-3%) !important;
    margin-left: calc(7%) !important;
} */

.payload {
    position: fixed;
    z-index: 999;
    /* width: auto !important;
    min-width: 30rem;
    min-height: 35px; */
}

.selectable {
    cursor: pointer;
}

.cc_skill-assignments-bold {
    font-weight: bold;
}