<template>
    <div class="simpleText slds-p-top_xx-small slds-p-bottom_xx-small slds-border_bottom" style="display: inline-block; ">
        <div onmouseover={handleOver} onmouseout={handleOver} class="simpleText selectable" style="display: inline-block;">
            <a href="javascript:void(0);" tabindex="-1" onclick={loadInvestorListItems}>{investorList.name}</a>
            <template if:true={popoverShown}>
                <section class="slds-popover payload" role="dialog" style={positionStyle}>
                    <div class="slds-popover__body">
                        <div>
                            <div>
                                <span class="cc_skill-assignments-bold">
                                    {label.investorsSelectionItemAmountLabel} 
                                </span> {investorList.investorsListItemAmount}
                            </div>
                            <div>
                                <span class="cc_skill-assignments-bold">
                                    {label.investorsSelectionListLastEditedOnLabel}&nbsp;
                                </span>
                                <lightning-formatted-date-time 
                                    value={investorList.lastModifiedDate} 
                                    year="2-digit" month="short" 
                                    day="2-digit" weekday="narrow">
                                </lightning-formatted-date-time> 
                            </div>
                            <div>
                                <span class="cc_skill-assignments-bold">
                                    {label.investorsSelectionListLastEditedByLabel} 
                                </span> {investorList.lastModifiedByName}
                            </div>
                            <div>
                                <span class="cc_skill-assignments-bold">
                                    {label.investorsSelectionListCreatedOnLabel}&nbsp;
                                </span> 
                                <lightning-formatted-date-time 
                                    value={investorList.createddDate} 
                                    year="2-digit" month="short" 
                                    day="2-digit" weekday="narrow">
                                </lightning-formatted-date-time> 
                            </div>
                            <div>
                                <span class="cc_skill-assignments-bold">
                                    {label.investorsSelectionListOwnerLabel} 
                                </span> {investorList.ownerName}
                            </div>
                        </div>
                    </div>
                </section>
            </template>
        </div>
    </div>
</template>