<!--
 - Created by ema in scope of US2415
 -->
<template>
    <template if:true={showComponent}>
        <div class="slds-p-left_large slds-notify slds-theme_alert-texture slds-theme_error slds-p-top_small slds-p-bottom_small">
            <div class="slds-text-heading_small">
                {label.generalLabelErrorsHaveOccured}
            </div>
			<template if:true={basicError}>
				<div class="slds-p-top_small">
					{basicError}
				</div>
			</template>

            <template if:true={showContactHasCcWithoutToBlock}>
                <div class="slds-p-top_small">
                    {contactHasCcWithoutToMessage}
                </div>
                <div>
                    <template for:each={contactHasCcWithoutToList} for:item="item">
                        <li key={item.recordId}>
                            <lightning-formatted-url value={item.linkToRecord} label={item.recordName} target="_blank" ></lightning-formatted-url>
                        </li>
                    </template>
                </div>
            </template>

            <template if:true={showInactiveRecordsBlock}>
                <div class="slds-p-top_small">
                    {inactiveInvestorsMessage}
                </div>
                <div>
                    <template if:true={showAccountLabel}>
                        {accountLabel}:
                    </template>
                    <template for:each={inactiveInvestorsList} for:item="item">
                        <li key={item.recordId}>
                            <lightning-formatted-url value={item.linkToRecord} label={item.recordName} target="_blank" ></lightning-formatted-url>
                        </li>
                    </template>
                </div>
                <div>
                    <template if:true={showContactLabel}>
                        {contactLabel}:
                    </template>
                    <template for:each={inactiveInvestorContactsList} for:item="item">
                        <li key={item.recordId}>
                            <lightning-formatted-url value={item.linkToRecord} label={item.recordName} target="_blank" ></lightning-formatted-url>
                        </li>
                    </template>
                </div>
            </template>

            <template if:true={showInvalidContactsEmailBlock}>
                <div class="slds-p-top_small">
                    {investorContactsInvalidEmailMessage}
                </div>
                <div>
                    <template for:each={investorContactsWithInvalidEmail} for:item="item">
                        <li key={item.recordId}>
                            <lightning-formatted-url value={item.linkToRecord} label={item.recordName} target="_blank" ></lightning-formatted-url>
                        </li>
                    </template>
                </div>
            </template>
           
            <template if:true={showInvalidBccEmailsBlock}>
                <div class="slds-p-top_small">
                    {bccInvalidEmailMessage}
                </div>
                <div>
                    <template for:each={bccInvalidEmailsList} for:item="item">
                        <li key={item.recordName}>
                            {item.recordName}
                        </li>
                    </template>
                </div>
            </template>

            <template if:true={showMissingLanguageWithSendingTypeBlock}>
                <div class="slds-p-top_small">
                    {missingLanguageWithSendingTypeMessage}
                </div>
                <div>
                    <template for:each={bmissingLanguageWithSendingTypeList} for:item="item">
                        <li key={item.recordId}>
                            {item.recordName}
                        </li>
                    </template>
                </div>
            </template>
        </div>
    </template>
</template>