<template>
    <div style="text-align: center;">
        <template if:true={label}>
        <lightning-button
            label={label.activity}
            class="slds-m-left_x-small"
            onclick={fireActionButton}>
        </lightning-button>
    </template>
    </div>
</template>