<!--
 - Created by napo on 3/10/20.
 -->

<!-- New Mailing Criteria -->
<template>
	<lightning-layout-item size="10" class="slds-align_left">
	<div class="slds-scope slds-form slds-form_horizontal slds-p-around_medium">
		<div class="slds-grid slds-wrap">

			<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-right: 10%;">
				<lightning-input label={label.correspondenceNameLabel} type="text"
								 value={correspondenceName}
								 required
								 disabled={isFormEditingDisabled}
								 onchange={handleCorrespondenceNameChange}></lightning-input>
			</div>

			<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-left: 10%;">
				<lightning-combobox
					name="status"
					value={investorStatus}
					label={label.investorStatusLabel}
					onchange={handleInvestorStatusChange}
					disabled={isFormEditingDisabled}
					options={investorStatusOptions}>
				</lightning-combobox>
			</div>
		<!--	stub-->
			<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-right: 10%;">
				<template if:true={chosenUserIsLoaded}>
					<c-lookup
							lookup-id={senderId}
							field-api-name={userField.apiName}
							object-api-name={userField.objectApiName}
							onsearch={handleUserLookupSearch}
							onselectionchange={handleUserLookupChange}
							label={label.senderLabel}
							is-multi-entry={userField.isMultiEntry}
							data-id="nameSearchInput"
							required
							invalid-message="Not valid."
							disabled={isFormEditingDisabled}

					>
					</c-lookup>
				</template>
				<template if:true={error}>
					<div class="slds-text-color_destructive" style="text-align: center;">{error}</div>
				</template>

			</div>
			<div class="slds-size_1-of-2 slds-max-small-size_1-of-4 " style="padding-left: 10%;">
				<lightning-input label={label.bccLabel}
								 type="text" value={bcc}
								 disabled={isFormEditingDisabled}
								 field-level-help={label.bccHelpMessageLabel}
								 onchange={handleBccChange}></lightning-input>
			</div>
		</div>
	</div>
	</lightning-layout-item>
</template>