<template>
    <!-- <div class="slds-m-left_medium"> -->
    <li>
        <lightning-formatted-url value={junctionLink} label={junctionName} target="_blank" ></lightning-formatted-url>&nbsp;->&nbsp;
        <lightning-formatted-url value={itemLink} label={itemName} target="_blank" ></lightning-formatted-url>
    </li>
    <!-- </div> -->
</template>