<template>
    {label.numberOfResults} {numberOfResults}
    <template  for:each={properties} for:item="property">
        <c-mobile-property-explorer-list-element property={property} key={property.Id}>

        </c-mobile-property-explorer-list-element>
    </template>
</template>