<template>
    <lightning-card>
        <h3 slot="title">
            <div style="float: left; display: block;" class="slds-m-left_x-small slds-m-top_xxx-small">
                <b>{label.filesLabel}</b>
            </div>
        </h3>

        <lightning-datatable
            key-field="id"
            data={fileData}
            columns={columns}
            sorted-direction={sortDirection}
            sorted-by={sortBy}
            onsort={updateColumnSortingFiles}
            hide-checkbox-column>
        </lightning-datatable>

        <div class="slds-align_absolute-center slds-m-top_small">
            <a onclick={handleViewAllClick}>{label.viewAll}</a>
        </div>
    </lightning-card>

    <lightning-card>
        <h3 slot="title">
            <div style="float: left; display: block;" class="slds-m-left_x-small slds-m-top_xxx-small">
                <b>{label.imagesLabel}</b>
            </div>
        </h3>

        <lightning-datatable
            key-field="id"
            data={imageData}
            columns={columns}
            sorted-direction={sortDirection}
            sorted-by={sortBy}
            onsort={updateColumnSortingImages}
            hide-checkbox-column>
        </lightning-datatable>

        <div class="slds-align_absolute-center slds-m-top_small">
            <a onclick={handleViewAllClick}>{label.viewAll}</a>
        </div>
    </lightning-card>
</template>