<!--
 - @author npo
 - @copyright PARX
 -->

<template>

	<template if:true={showModal}>
		<section
				role="dialog"
				tabindex="-1"
				aria-labelledby="modal-heading-01"
				aria-modal="true"
				aria-describedby="modal-content-id-1"
				class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">

				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					{label.newMailingSaveChangesLabel}
				</div>

				<footer class="slds-modal__footer modal-hidden">
					<lightning-button
							label={label.newMailingContinueEditingLabel}
							variant="neutral"
							onclick={handleCancelNewMailingModal}>
					</lightning-button>
					<lightning-button
							label={label.newMailingDiscardChangesLabel}
							variant="neutral"
							onclick={handleDiscardChanges}>
					</lightning-button>
					<lightning-button
							label={label.saveLabel}
							variant="brand"
							onclick={handleSaveChanges}>
					</lightning-button>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</template>
</template>