<template>
    <!-- <lightning-card title="Create Project Role"> -->
        <lightning-record-edit-form
            record-id={recordId}
            object-api-name={objectApiName}
            layout-type={layoutType}
            mode="edit"
            ><!-- onsubmit={handleSubmit} -->
            <lightning-layout>
                <lightning-layout-item padding="around-small" size="6">
                    <lightning-input-field
                        field-name="Status__c"
                        value="Aborted"
                    ></lightning-input-field>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small" size="6">
                    <lightning-input-field
                        field-name="Project__c"
                    ></lightning-input-field>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-record-edit-form>
    <!-- </lightning-card> -->
</template>