<template>
    <lightning-card>
        <div class="slds-text-heading_large slds-p-left_medium">{label.filesLabel}</div><br/>
        <c-file-list-all-records-datatable
            key-field="id"
            data={fileData}
            columns={columns}
            sorted-direction={sortDirection}
            sorted-by={sortBy}
            onsort={updateColumnSorting}
            hide-checkbox-column>
        </c-file-list-all-records-datatable>
    </lightning-card>
</template>