<template>
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <c-investors-list-activity-status-form
                predifined-value={investorRowStatus}
                onstatuschange={handleStatusChange}
            ></c-investors-list-activity-status-form>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <lightning-combobox
            name="activityStatus"
            label="Status"
            value={selectedActivityStatusValue}
            options={activityStatusOptions}
            onchange={handleActivityStatusChange} ></lightning-combobox>
        </div>

        <div class="slds-col slds-size_2-of-2">
            <lightning-input data-id="topicInput" type="text" label={label.topic} value={investorRowStatus} required></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <lightning-input data-id="dateInput" type="date" value={dateValue} label={label.date} required></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2"></div>
        <template if:true={showAmount}>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="number" data-id="amountInput" label={label.amount} required></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2"></div>
        </template>
        <div class="slds-col slds-size_2-of-2">
            <lightning-textarea data-id="commentInput" label={label.comment}></lightning-textarea>
        </div>
        <div class="slds-col slds-size_2-of-2">
            <c-lookup
                lookup-id={contactId}
                field-api-name={contactField.apiName}
                object-api-name={contactField.objectApiName}
                onsearch={handleContactsLookupSearch}
                onselectionchange={handleContactSelectionChange}
                selection={predefinedContacts}
                label={label.contacts}
                is-multi-entry={contactField.isMultiEntry}
                data-id="nameSearchInput"
                invalid-message={label.contactsErrorMessage}
                >
            </c-lookup>
        </div>


        <div class="slds-col slds-size_1-of-2">
            <template if:true={declinationSelected}>
                <c-autocomplete-combobox
                object-and-field-api-name="AccountToOpportunity__c.ReasonForRejection__c"
                record-type-id={defaultRecordTypeId}
                icon-name="standard:account"
                onchange={handleDeclinationReasonChange}
                field-label={label.declination}
            ></c-autocomplete-combobox>
            </template>
        </div>
    </div>
</template>