<!--
 - @author npo
 - @copyright PARX
 -->

<!-- sendingTypePicklist -->
<template>

	<template if:true={typeAttributes.customValue}>
		<c-picklist selected-value={value}
					record-id={typeAttributes.recordId}
					field-name={typeAttributes.fieldName}
					is-disabled={typeAttributes.isDisabled}
					options={typeAttributes.customValue}></c-picklist>
	</template>
</template>