<!-- urlList -->
<template>
	<template if:true={value}>
		<template for:each={value} for:item="relation">
			<lightning-formatted-url key={relation.relationId} value={relation.link} label={relation.relationName} tooltip={relation.relationName} style="display:block;" >
			</lightning-formatted-url>
		</template>
	</template>
</template>