<template>
    <template if:true={showModal}>
        <section role="dialog" class="slds-modal slds-fade-in-open slds-modal_medium">
            <div class="slds-modal__container" style="width: 240px">
                <header class="slds-modal__header">
                    <button
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title={label.generalLabelClose}
                        onclick={closeModal}
                    >
                        <lightning-icon
                            icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small"
                        >
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.generalLabelClose}</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        {label.relatedObjectsConfirmModalHeader}
                    </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium slds-scrollable_y" style="height: 200px;">
                    <div class="slds-is-relative">
                        <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
                        <div>
                            {helperMessageLabel}
                        </div>
                        <template if:false={obj.isDeleteMode}>
                            <template for:each={data} for:item="item">
                                <li key={item.Id}>{item.Name}</li>
                            </template>
                        </template>
                    </div>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button
                        data-id="closeButton"
                        label={label.generalLabelCancel}
                        title={label.generalLabelCancel}
                        onclick={closeModal}
                        style="padding-right: 12px"
                    >
                    </lightning-button>
                    <lightning-button
                        label={label.generalLabelConfirm}
                        title={label.generalLabelConfirm}
                        onclick={handleConfirm}
                        variant="brand"
                        disabled={confirmButtonDisabled}
                    >
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>