<template>
    <!--account investor list items-->
    <template if:true={showItemsList}>
        <template if:true={hasAccountRecords}>
            <div class="slds-m-bottom--small">
                <lightning-card>
                    <lightning-layout>
                        <lightning-layout-item size="5" padding="around-small">
                            <lightning-input name={ListTypeItem.account}
                                             variant="label-hidden"
                                             onchange={handleKeyChange}
                                             type="search">
                            </lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item size="3" padding="around-small">
                            <div class="slds-text-heading_medium slds-text-align_center">{label.accountEntries}</div>
                        </lightning-layout-item>
                        <lightning-layout-item size="4" padding="around-small"  class="slds-text-align_right">
                            <lightning-button variant="brand"
                                              class={ListTypeItem.account}
                                              label={label.delete}
                                              title={label.delete}
                                              onclick={handleDeleteButtonClick}
                                              disabled={deleteAccountButtonDisabled}>
                            </lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                    <!-- TABLE FOR _filteredAccountListItems STARTS -->
                    <div style="height: 400px;">
                        <c-investor-selection-datatable-color
                                class={ListTypeItem.account}
                                data={_filteredAccountListItems}
                                columns={columnsAccountListItems}
                                onrowselection={handleRowSelection}
                                sorted-by={sortedBy.INVESTOR_LIST_ITEM_ACCOUNT}
                                sorted-direction={sortDirection.INVESTOR_LIST_ITEM_ACCOUNT}
                                onsort={handleSorting}
                                key-field="key"
                                ondetailsbutton={showRecordDetailsFilteredAccounts}
                                enable-infinite-loading
                                onloadmore={loadMoreInvestors}
                                is-loading={investorsIsLoading}
                                show-row-number-column>
                        </c-investor-selection-datatable-color>
                    </div>
                    <!-- TABLE FOR _filteredAccountListItems STARTS -->
                </lightning-card>
            </div>
        </template>
    </template>
    <!--contact investor list items + search results-->
        <template if:true={hasContactRecords}>
            <lightning-card>
                <lightning-layout>
                    <lightning-layout-item size="5" padding="around-small">
                        <lightning-input name={ListTypeItem.contact}
                                         variant="label-hidden"
                                         onchange={handleKeyChange}
                                         type="search"></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="3" padding="around-small">
                        <div class="slds-text-heading_medium slds-text-align_center">
                            <template if:true={showSearchList}>
                                {label.searchResult}
                            </template>
                            <template if:true={showItemsList}>
                                {label.contractEntries}
                            </template>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="4" padding="around-small"  class="slds-text-align_right">
                        <template if:true={showSearchList}>
                            <lightning-button variant="brand"
                                              label={label.addToChoice}
                                              title={label.addToChoice}
                                              onclick={handleAddButtonClick}
                                              disabled={addButtonDisabled}
                                              class="slds-m-left_x-small"></lightning-button>
                        </template>
                        <template if:true={showItemsList}>
                            <lightning-button variant="brand"
                                              class={ListTypeItem.contact}
                                              label={label.delete}
                                              title={label.delete}
                                              onclick={handleDeleteButtonClick}
                                              disabled={deleteContactButtonDisabled}>
                            </lightning-button>
                        </template>

                    </lightning-layout-item>
                </lightning-layout>
                <!-- TABLES FOR LEFT SEARCH STARTS -->
                <template if:true={showSearchList}>
                    <template if:true={isContactsSearch}>
                        <div style="height: 400px;">
                            <c-investor-selection-datatable-color
                                    class={ListTypeItem.contactSearch}
                                    data={_filteredSearchResult}
                                    columns={columns}
                                    key-field="key"
                                    sorted-by={sortedBy.CONTACT_SEARCH}
                                    sorted-direction={sortDirection.CONTACT_SEARCH}
                                    onsort={handleSorting}
                                    onrowselection={handleRowSelection}
                                    ondetailsbutton={showRecordDetailsSearchedContacts}
                                    enable-infinite-loading
                                    onloadmore={loadMoreSearchData}
                                    is-loading={searchDataTableIsLoading}
                                    show-row-number-column>
                            </c-investor-selection-datatable-color>
                        </div>
                    </template>
                    <template if:false= {isContactsSearch}>
                        <div style="height: 400px;">
                            <c-investor-selection-datatable-color
                                    class={ListTypeItem.accountSearch}
                                    hide-checkbox-column
                                    key-field="key"
                                    data={_filteredSearchResult}
                                    sorted-by={sortedBy.ACCOUNT_SEARCH}
                                    sorted-direction={sortDirection.ACCOUNT_SEARCH}
                                    onsort={handleSorting}
                                    columns={columns}
                                    ondetailsbutton={showRecordDetailsSearchedAccounts}
                                    enable-infinite-loading
                                    onloadmore={loadMoreSearchData}
                                    is-loading={searchDataTableIsLoading}
                                    show-row-number-column>
                            </c-investor-selection-datatable-color>
                        </div>
                    </template>
                </template>
                <!-- TABLES FOR LEFT SEARCH ENDS -->
                <template if:true={showItemsList}>
                    <div style="height: 400px;">
                        <!-- TABLE FOR _filteredContactListItems STARTS -->
                        <c-investor-selection-datatable-color
                                class={ListTypeItem.contact}
                                data={_filteredContactListItems}
                                columns={columnsContactListItems}
                                onrowselection={handleRowSelection}
                                sorted-by={sortedBy.INVESTOR_LIST_ITEM_CONTACT}
                                sorted-direction={sortDirection.INVESTOR_LIST_ITEM_CONTACT}
                                onsort={handleSorting}
                                key-field="key"
                                ondetailsbutton={showRecordDetailsFilteredContacts}
                                enable-infinite-loading
                                onloadmore={loadMoreInvestorContacts}
                                is-loading={investorContactsIsLoading}
                                show-row-number-column>
                        </c-investor-selection-datatable-color>
                        <!-- TABLE FOR _filteredContactListItems STARTS -->
                    </div>
                </template>
            </lightning-card>
        </template>
        <template if:false={hasAccountRecords}>
            <template if:false={hasContactRecords}>
                <lightning-card title={label.noRecordsFound} icon-name="standard:contact_list"></lightning-card>
            </template>
        </template>
    <template if:true={showDeleteModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button
                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title={label.close}
                            onclick={closeDeleteModal}>
                        <lightning-icon
                                icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{label.deleteModalHeader}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p class="slds-text-align--center">{label.deleteModalText}</p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeDeleteModal}>{label.cancel}</button>
                    <button class="slds-button slds-button_brand" onclick={deleteInvestorsListItemsHandler}>{label.delete}</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>