.payload {
    position: fixed;
    z-index: 999;
    width: auto !important;
    min-width: 30rem;
    min-height: 35px;
}

.payloadspinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto
}