<template>
    <section class="slds-popover payload" role="dialog" style={positionStyle}>
        <div class="payloadspinner">
            <lightning-spinner if:true={isLoading} alternative-text="Loading" size="small"></lightning-spinner>
        </div>
        <div class="slds-popover__body">
            <template if:true={request}>
                <template for:each={request} for:item="item">
                    <div key={item.Id}>
                        {item.ActivityDate} {item.InvestorStatus__c} : {item.Amount__c}
                    </div>
                </template>
            </template>
        </div>
    </section>
</template>