<template>
    <div style="text-align: center;">
        <c-investors-list-status-picklist row-id={value} status={typeAttributes.status}>
        </c-investors-list-status-picklist>
    </div>
</template>