.wrapper {
    top: 20px;
    position: relative;
    width: 90%;
}

.label {
    top: 64px;
    left: 44px;
    right: 0;
    text-align: center;
    max-width: 350px;
}

.slider {
    left: 1px;
    right: 1px;
    max-width: 350px;
}

.noUi-target,
.noUi-handle {
    box-shadow: none !important;
}

.noUi-target {
    background: #ffffff;
    border: 1px solid rgb(216, 221, 230);
    border-radius: 0.25rem;
}

.overlay {
    z-index: 9999;
    height: 45px;
    width: 107%;
    margin-left: -7%;
    cursor: not-allowed;
}

.noUi-tooltip {
    bottom: 0 !important;
}
.noUi-handle {
    background: transparent !important;
    border: 0;
    box-shadow: none !important;
    outline: none;
    font-size: 1.1em;
}
.noUi-handle:before, .noUi-handle:after {
    width: 0 !important;
}