<template>
    <div class="slds-is-relative">
        <div data-id="overlay" class="slds-is-absolute slds-hide overlay"></div>
        <div class="wrapper">
            <div id="slider" class="slider" lwc:dom="manual"></div>
            <div class="label">{label}</div>
        </div>
    </div>
</template>