.THIS {}

.THIS .parent-name:before {
    content: '\003E';
    display: inline-block;
    padding: 0 .5rem;
}

.THIS .object-navigation {
    display: inline-block;
    text-decoration: none;
}

.THIS .active-filter {
	color: #4D93DB;
}