<template>
    <lightning-card>
        <template if:true={hasTitle}>
            <h3 slot="title">
                <div>
                    <div style="float: left; display: block">
                        <lightning-icon icon-name={childObjectIconUrl} size="small"></lightning-icon>
                    </div>
                    <div style="float: left; display: block;" class="slds-m-left_x-small slds-m-top_xxx-small">
                        <b>{title}</b>
                    </div>
                </div>
            </h3>
        </template>

        <lightning-datatable
            key-field="Id"
            data={data}
            columns={_columns}
            hide-checkbox-column="true"
            is-loading={isLoading}
            sorted-by={sortedBy}
            sorted-direction={sortedDirection}
            onsort={updateColumnSorting}
        >
        </lightning-datatable>

        <template if:true={error}>
            <c-inline-message
                message={error}
            ></c-inline-message>
        </template>

        <div class="slds-align_absolute-center slds-m-top_small">
            <a onclick={handleViewAllClick}>{label.viewAll}</a>
        </div>
    </lightning-card>

</template>