<template>
    <template if:true={showAsCard}>
        <lightning-card>
            <lightning-button
                class="slds-p-horizontal_small"
                variant={variant}
                label={label}
                title={label}
                onclick={navigate}
            ></lightning-button>
        </lightning-card>
    </template>

    <template if:false={showAsCard}>
        <lightning-button
            variant={variant}
            label={label}
            title={label}
            onclick={navigate}
        ></lightning-button>
    </template>
</template>