<template>
	<div style="margin-left:10px;">
		<lightning-input if:false={disabledandchecked} onchange={handleChange} type="checkbox" label=" " name="input1" class={checkBoxClass}></lightning-input>
		<lightning-icon if:true={disabledandchecked} style="padding: 0.1rem;" icon-name="action:approval" size="xx-small"></lightning-icon>
	</div>
</template>