<template>
    <template if:true={tile}>
        <a onclick={handleTileSelected}>
            <div class="tile" style={backgroundImageStyle}>
                <div class="lower-third">
                    <h1 class="truncate">{tile.title}</h1>
                    <template for:each={tile.mapData} for:item='map'>
                        <p key={map.key}>{map.fieldLabel}&nbsp;{map.fieldValue}</p>  
                    </template> 
                </div>
            </div>
        </a>
    </template>
</template>