<template>
    <article class="slds-card">
        <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon
                        icon-name="action:add_relationship"
                        size="small"
                    ></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <span>{label.applicationNameLabel}</span>
                    </h2>
                </div>
                <div class="slds-no-flex">
                    <lightning-formatted-url class="slds-button slds-button_neutral slds-m-right_x-small" value={returnUrl} label={label.backLabel} ></lightning-formatted-url>
                    <lightning-button label={label.addActionLabel} title={label.addActionLabel} onclick={handleCreateRecord} disabled={recordSelected}></lightning-button>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner" style="min-height: 300px;">
            <template if:false={showComponent}>
                <c-inline-message
                    message={label.selectAtLeastOneRecordLabel}
                >
                </c-inline-message>
            </template>
            <template if:true={showComponent}>
                <c-search
                    label={label.searchLabel}
                    placeholder={label.searchPlaceholderLabel}
                    object-api-name={searchString.objectApiName}
                    field-api-name={searchString.fieldApiName}
                    is-multi-entry={searchString.isMultiEntry}
                    data-id="nameSearchInput"
                    invalid-message='error'
                    add-record-object-api-name={addRecordObjectApiName}
                    add-record-fields={addRecordFields}
                    add-record-custom-labels={addRecordLabels}
                    onsearch={handleRecordsSearch}
                    onchange={handleRecordChange}
                    onselectionchange={handleRecordSelectionChange}
                    onrecordcreated={handleSuccessNewRecordCreation}
                >
                </c-search>
            </template>
            <template if:true={showNewRecords}>
                <div class="slds-text-heading_small slds-m-top_large slds-m-bottom_medium">
                    {label.newRecordsLabel} <lightning-formatted-url value={investorListURLName} label={investorListName} target="_blank" ></lightning-formatted-url>:
                </div>
                <template if:true={isAccount}>
                    <template for:each={response.newInvestorsListItems} for:item="item">
                        <c-add-selected-items-to-my-list-results
                            key={item.Id}
                            object-api-name={objectApiName}
                            item={item}>
                        </c-add-selected-items-to-my-list-results>
                    </template>
                </template>
                <template if:false={isAccount}>
                    <template for:each={response.newInvestorsListItemsContact} for:item="item">
                        <c-add-selected-items-to-my-list-results
                            key={item.Id}
                            object-api-name={objectApiName}
                            item={item}>
                        </c-add-selected-items-to-my-list-results>
                    </template>
                </template>
            </template>
            <template if:true={showExistingRecords}>
                <div class="slds-text-heading_small slds-m-top_large slds-m-bottom_medium">
                    {label.existingRecordsLabel} <lightning-formatted-url value={investorListURLName} label={investorListName} target="_blank" ></lightning-formatted-url>:
                </div>
                <template if:true={isAccount}>
                    <template for:each={response.existingInvestorsListItems} for:item="item">
                        <c-add-selected-items-to-my-list-results
                            key={item.Id}
                            object-api-name={objectApiName}
                            item={item}>
                        </c-add-selected-items-to-my-list-results>
                    </template>
                </template>
                <template if:false={isAccount}>
                    <template for:each={response.existingInvestorsListItemsContact} for:item="item">
                        <c-add-selected-items-to-my-list-results
                            key={item.Id}
                            object-api-name={objectApiName}
                            item={item}>
                        </c-add-selected-items-to-my-list-results>
                    </template>
                </template>
            </template>
        </div>
    </article>
</template>