<template>
    <lightning-card>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12" padding="horizontal-small">
                <div class="slds-m-bottom_small slds-m-left_xx-small slds-m-right_xx-small">
                    <lightning-input
                        data-name="input"
                        type="text"
                        label={label}
                        placeholder={placeholder}
                        onkeyup={handleKeyUp}
                    ></lightning-input>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="horizontal-small">
                <lightning-record-edit-form
                    id="recordViewForm"
                    record-id={recordId}
                    object-api-name={objectApiName}
                >
                    <lightning-messages></lightning-messages>

                    <lightning-input-field
                        field-name={fieldApiName}
                        onchange={textAreaChangeHandler}
                    >
                    </lightning-input-field>
                    <div class="slds-float_right">
                        <lightning-layout multiple-rows="false">
                            <lightning-layout-item>
                                <lightning-button
                                    label={customLabel.cancel}
                                    class="slds-m-top_medium slds-p-horizontal_x-small"
                                    onclick={handleCancel}
                                ></lightning-button>
                            </lightning-layout-item>
                            <lightning-layout-item>
                                <lightning-button
                                    variant="brand"
                                    label={customLabel.save}
                                    onclick={handleSave}
                                    class="slds-m-top_medium slds-p-horizontal_xx-small"
                                ></lightning-button>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                </lightning-record-edit-form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>