<template>
    <lightning-card>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="4" padding="horizontal-small">
                <lightning-input
                    variant="label-hidden"
                    type="search"
                    onkeyup={keyUpHandler}
                    placeholder={label.searchPlaceholder}>
                </lightning-input>
            </lightning-layout-item>
            <lightning-layout-item size="8" padding="horizontal-small">
                <lightning-button
                    variant="brand"
                    label={label.addToPortfolio}
                    class="slds-float_right">
                </lightning-button>
            </lightning-layout-item>
            
            <lightning-layout-item size="12" padding="horizontal-small">
                <div style="height: 300px;">
                    <lightning-datatable
                        key-field="Id"
                        data={data}
                        columns={columns}
                        onrowselection={rowSelectionHandler}>
                    </lightning-datatable>
                </div>
            </lightning-layout-item>
    
        </lightning-layout>
    </lightning-card>
    
</template>