<!--
 - Created by napo on 3/11/20.
 -->

<!-- New Mailing Correspondence Mask -->
<template>
	<lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>

	<template if:false={isLoading}>
		<template if:true={isInvestorsListEmpty}>
			<div class="slds-card container" style="padding:20px; margin-top: 5px;">
				{label.noInvestorsLabel}
			</div>
		</template>
	</template>
	<template if:false={isInvestorsListEmpty}>
		<div class="slds-card container" style="margin-bottom: 100px; margin-top: 5px;">

		<template for:each={investorsList} for:item="investor">
			<div key={investor.investorId}>
				<div>
					<div class="slds-page-header slds-page-header_object-home slds-m-bottom_xxx-small"
						 style="background-color: white;">
						<div class="slds-page-header__row">
							<div class="slds-page-header__col-title">
								<div class="slds-media" style="padding-top: 10px;">
									<div class="slds-media__figure" >
										<template if:false={isFormEditingDisabled}>
											<lightning-button-icon icon-name="action:delete"
																   size="medium"
																   style="padding-right: 5px;"
																   data-target-id={investor.investorId}
																   onclick={handleRemoveInvestorModalOpening}>

											</lightning-button-icon>
										</template>
	<!--									<lightning-button-icon icon-name="action:add_contact"-->
	<!--														   disabled=true-->
	<!--														   size="medium">-->
	<!--									</lightning-button-icon>-->
										<lightning-icon icon-name="standard:account" alternative-text="Account" size="medium"></lightning-icon>

										<!--									<lightning-icon icon-name="action:add_contact" size="xx-small"></lightning-icon>-->
									</div>
									<div class="slds-media__body" style="margin: auto;width: 50%;">
										<div class="slds-page-header__name">
											<div class="slds-page-header__name-title">
												<span>Investor</span>
												<h2><b>{investor.accountName}</b>
												</h2>
											</div>
										</div>

											<lightning-layout-item size="6" class="slds-align_left slds-p-around_x-small">
												<div class="slds-scope slds-form slds-p-around_xxx-small">
													<div class="slds-grid slds-wrap ">
														<div class="slds-size_1-of-3 slds-max-small-size_1-of-4 slds-p-around_x-small">
															<lightning-input key={investor.investorId}
																			 data-target-id={investor.investorId}
																			 data-target-field="mailingConfigSalutationDe"
																			 disabled={isFormEditingDisabled}
																			 label={label.salutationDELabel}
																			 value={investor.mailingConfigSalutationDe}
																			 onchange={handleSalutationChange}></lightning-input>
														</div>
														<div class="slds-size_1-of-3 slds-max-small-size_1-of-4 slds-p-around_x-small">
															<lightning-input key={investor.investorId}
																			 disabled={isFormEditingDisabled}
																			 data-target-id={investor.investorId}
																			 data-target-field="mailingConfigSalutationEn"
																			 label={label.salutationENLabel}
																			 value={investor.mailingConfigSalutationEn}
																			 onchange={handleSalutationChange}></lightning-input>
														</div>
													</div>
												</div>
											</lightning-layout-item>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<template if:true={investorContactsColumns}>
					<div >

					<c-new-mailing-investor-contacts-table
						key-field="contactId"
						data={investor.investorContactsList}
						hide-checkbox-column
						onpicklistchange={handlePicklistUpdate}
						columns={investorContactsColumns}
						style="height: 10rem; width: 50rem;"
						></c-new-mailing-investor-contacts-table>
					</div>
				</template>
			</div>
		</template>
		<c-new-mailing-investor-remove-modal onremoveinvestor={handleInvestorDelete}></c-new-mailing-investor-remove-modal>
		</div>
	</template>
</template>