/**
 * Created by napo on 3/11/20.
 */

.slds-scrollable_x {
    overflow:visible !important;
}

.slds-scrollable_y, .slds-scrollable--y {
    overflow:visible !important;
}

.slds-table_header-fixed_container, .slds-table--header-fixed_container {
    overflow: visible !important;
}