<template>
    <div class="slds-card slds-p-around_small">
        <template if:true={tiles}>
            <div class="tile-list">
                <template
                    for:each={tiles}
                    for:item="tile"
                >
                    <c-tile
                        tile={tile}
                        key={tile.id}
                        onselected={handleTileSelected}
                    ></c-tile>
                </template>
            </div>
            <c-paginator
                page-number={pageNumber}
                page-size={pageSize}
                total-item-count={totalItemCount}
                onprevious={handlePreviousPage}
                onnext={handleNextPage}
            ></c-paginator>
        </template>
        <template if:true={error}>
            <c-inline-message
                variant="error"
                message="Error retrieving data"
                errors={error}
            ></c-inline-message>
        </template>
    </div>
</template>