<template>
    <lightning-card>
        <!-- <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner> -->

        <template if:true={hasError}>
            <c-inline-message message={errorMessage}>
            </c-inline-message>
        </template>

        <template if:false={hasError}>
            <template if:true={isViewAll}>
                <div class="slds-align_absolute-center slds-m-around_small">
                    <a onclick={handleViewAllClick}>{showViewLabel}</a>
                </div>
            </template>

            <lightning-datatable
                key-field="id"
                data={data}
                columns={columns}
                hide-checkbox-column="true"
                show-row-number-column="true"
                is-loading={isLoading}
            >
            </lightning-datatable>

            <div class="slds-align_absolute-center slds-m-around_small">
                <a onclick={handleViewAllClick}>{showViewLabel}</a>
            </div>
        </template>
    </lightning-card>
</template>