<template>
    <lightning-card icon-name="custom:custom85">
        <template if:true={property.data}>
            <span slot="title">{propertyName}</span>
            <lightning-button-icon
                icon-name="utility:expand_alt"
                slot="actions"
                onclick={handleNavigateToRecord}
            ></lightning-button-icon>
            <div class="slds-m-horizontal_medium">
                <img
                    src={pictureURL}
                    alt="Property picture"
                    class="property-pic"
                />
                <lightning-record-form
                    object-api-name="PropertyObject__c"
                    record-id={recordId}
                    fields={propertyFields}
                    columns="2"
                >
                </lightning-record-form>
            </div>
        </template>
        <template if:false={recordId}>
            <c-inline-message
                message="Select a property to see details"
            ></c-inline-message>
        </template>
        <template if:true={property.error}>
            <c-inline-message
                variant="error"
                message="Error retrieving data"
                errors={property.error}
            ></c-inline-message>
        </template>
    </lightning-card>
</template>