<apex:page standardController="ONB2__Invoice__c" title="{!$Label.SystemMessages}">
      <!-- verify if invoice line item has a GL Account filled in, if not, display a warning message for the user -->
      <apex:outputtext rendered="{!IF(ONB2__Invoice__c.NoGLAccountCheck__c >= 1, TRUE, FALSE)}">
          <font color="red" size="3">{!$Label.NoGLAccountMessage}</font><p/>
      </apex:outputtext>
      
       <!-- verify if invoice line item has a Center filled in, if not, display a warning message for the user -->
      <apex:outputtext rendered="{!IF(ONB2__Invoice__c.NoCenterCheck__c >= 1, TRUE, FALSE)}">
          <font color="red" size="3">{!$Label.NoCenterMessage}</font><p/>
      </apex:outputtext>
      
      <!-- Verify if invoice date for draft invoice and selected tenant don't lead to an already closed booking period, if so, display a warning message for the user -->
      <apex:outputtext rendered="{!IF(AND(ONB2__Invoice__c.BookingPeriod__r.ONB2__Status__c = "Closed", ONB2__Invoice__c.ONB2__Status__c="Draft"), TRUE, FALSE)}">
          <font color="red" size="3">{!$Label.BookingPeriodAlreadyClosedWarning}</font><p/>
      </apex:outputtext>
      
      <!-- Verify if selected estate agent has a corresponding center record available, if not, display a warning message for the user -->
      <apex:outputtext rendered="{!IF(ONB2__Invoice__c.CenterValueMissing__c = TRUE, TRUE, FALSE)}">
          <font color="red" size="3">{!$Label.NoCenterForSelectedEstateAgent}</font><p/>
      </apex:outputtext>
</apex:page>