<apex:page controller="MobilePropertyExplorerController" showHeader="false">
    <apex:map width="100%" 
        height="400px" 
        center="{! currentLocationCoordinates }"
        zoomLevel="11"
        mapType="roadmap"
    >
        
        <apex:mapMarker id="currentLocation"
            title="{!$Label.SetObjectGeodataUserCurrentLocation}"
            icon="{! URLFOR($Resource.CurrentLocationMarker40x25) }"
            position="{! currentLocationCoordinates }">
            <apex:mapInfoWindow >
                <apex:outputPanel layout="block" style="font-weight: bold;">
                    <apex:outputText >
                        {!$Label.SetObjectGeodataUserCurrentLocation}
                    </apex:outputText>
                </apex:outputPanel>
                <apex:outputPanel layout="block">
                    <apex:outputText >
                        {! currentLocationCoordinates }
                    </apex:outputText>
                </apex:outputPanel>     		
            </apex:mapInfoWindow>
        </apex:mapMarker>

        <apex:repeat value="{! propertiesList }" var="item">
            <apex:mapMarker id="propertiesMarker"
                title="{! item.Name }"
                position="{! item.Geolocation__latitude__s },{! item.Geolocation__longitude__s }"
            >
                <apex:mapInfoWindow >
                    <apex:outputPanel layout="block" style="font-weight: bold;">
                        <apex:outputText >
                            {! item.Name }:
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel layout="block">
                        <apex:outputText >
                            {! item.City__c }, 
                        </apex:outputText>
                        <apex:outputText >
                            {! item.Street__c }, 
                        </apex:outputText>
                        <apex:outputText >
                            {! item.PostalCode__c }, 
                        </apex:outputText>
                        <apex:outputText >
                            {! item.AmountOfSpaceLet__c }.
                        </apex:outputText>
                    </apex:outputPanel>     		
                </apex:mapInfoWindow>
            </apex:mapMarker>
        </apex:repeat>
    </apex:map>
</apex:page>