<template>
    <lightning-tabset >
        <lightning-tab label={label.matching} title={label.matching} onactive={handleActiveTab}>
            <c-investor-selection-tab-matching></c-investor-selection-tab-matching>
        </lightning-tab>
        <lightning-tab label={label.mylists} title={label.mylists} onactive={handleActiveTab}>
            <c-investor-selection-my-lists>
            </c-investor-selection-my-lists>
        </lightning-tab>
        <lightning-tab label={label.underbidder} title={label.underbidder} onactive={handleActiveTab}>
            <c-investor-selection-tab-bidder>
            </c-investor-selection-tab-bidder>
        </lightning-tab>
        <lightning-tab label={label.search} title={label.search} onactive={handleActiveTab}>
            <c-investor-selection-tab-search
                onsearchchange={handleSearchChangeHandler}
                onsearchancelled={handleSearchCancelled}
                onlistviewchanged={handleListviewChanged}
            >
            </c-investor-selection-tab-search>
        </lightning-tab>
    </lightning-tabset>
</template>