<template>
    <lightning-layout class={layoutClass}>
        <lightning-layout-item flexibility="no-grow">
            <lightning-input type="checkbox" label={checkboxLabel} class="cb1" onchange={handleElementCheckboxChange}></lightning-input>
        </lightning-layout-item>
        <template if:true={isAccordionVisible}>
            <lightning-layout-item size="11" flexibility="auto">
                <template if:true={picklistValues.data}>
                    <div style="margin-top: -12px">
                        <!--<lightning-accordion allow-multiple-sections-open active-section-name="A">-->
                        <lightning-accordion allow-multiple-sections-open>
                            <lightning-accordion-section name="A" label={sectionLabel} class={elementActiveClass}>
                                <lightning-checkbox-group name="Checkbox Group"
                                                          label=""
                                                          options={picklistValues.data.values}
                                                          value={value}
                                                          class="accordion-item"
                                                          onchange={handleChange}>
                                </lightning-checkbox-group>
                            </lightning-accordion-section>
                        </lightning-accordion>
                    </div>
                </template>
            </lightning-layout-item>
        </template>
    </lightning-layout>
</template>