<template>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <div class="slds-align_absolute-center">Gross Yield (%)</div>
                </th>
                <th>
                    <div class="slds-p-left_small">Net Yield (%)</div>
                </th>
                <th>
                    <div class="slds-p-left_small">Gross Multiplier</div>
                </th>
                <th>
                    <div class="slds-p-left_small">Net Multiplier</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>Eingabe Yields</div><!--class="slds-p-top_small">-->
                </td>
                <td>
                    <!-- <div class="slds-p-top_none"> -->
                        <div style="text-align:center;">
                        <lightning-input
                            type="number"
                            name="yieldGrossYield"
                            value={yieldGrossYield}
                            step=0.01
                            variant="label-hidden"
                            onblur={changeYieldHandler}>
                        </lightning-input>
                        </div>
                    <!-- </div> -->
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="yieldNetYield"
                            value={yieldNetYield}
                            step=0.01
                            onblur={changeYieldHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="yieldGrossMultiplier"
                            value={yieldGrossMultiplier}
                            step=0.01
                            onblur={changeYieldHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="yieldNetMultiplier"
                            value={yieldNetMultiplier}
                            step=0.01
                            onblur={changeYieldHandler}>
                        </lightning-input>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <!--<lightning-layout multiple-rows="false">-->
        <!-- BEGIN: 1st row. (Input Yields) -->
        <!--<lightning-layout-item flexibility="auto" padding="left-small" size=2>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            
        </lightning-layout-item>-->
        <!-- END: 1st row. (Input Yields) -->
    <!--</lightning-layout>-->

    <!--<lightning-layout multiple-rows="true">-->
        <!-- BEGIN: 2nd row. -->
        <!--<lightning-layout-item flexibility="auto" padding="around-small" size=2>
            <div class="slds-p-top_small">Eingabe Yields</div>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="yieldGrossYield"
                value={yieldGrossYield}
                step=0.01
                onblur={changeYieldHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="yieldNetYield"
                value={yieldNetYield}
                step=0.01
                onblur={changeYieldHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="yieldGrossMultiplier"
                value={yieldGrossMultiplier}
                step=0.01
                onblur={changeYieldHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="yieldNetMultiplier"
                value={yieldNetMultiplier}
                step=0.01
                onblur={changeYieldHandler}>
            </lightning-input>
        </lightning-layout-item>-->
        <!-- BEGIN: 2nd row. -->
    <!--</lightning-layout>-->

    <div class="slds-text-heading_medium">
        <b>Kalkulation Flächen, Mieten, erwarteter Kaufpreis, Renditen</b>
    </div>
    <br />
    <table>
        <thead>
            <tr>
                <th>Nutzung</th>
                <th>
                    <div class="slds-p-left_small">Fläche in m&#178;</div>
                </th>
                <th>
                    <div class="slds-p-left_small">Miete IST/m&#178;</div>
                </th>
                <th>
                    <div class="slds-p-left_small">Miete IST pa</div>    
                </th>
                <th>
                    <div class="slds-p-left_small">... Markt/m&#178;</div>
                </th>
                <th>
                    <div class="slds-p-left_small">... Markt pa</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="slds-p-top_small">Büro</div>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="officeArea"
                            value={officeArea}
                            min=0
                            placeholder="0 m²"
                            step=0.01
                            onchange={changeOfficeHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="officeRentPerSquareMeter"
                            value={officeRentPerSquareMeter}
                            min=0
                            formatter="currency"
                            placeholder="0,00 €/m²"
                            step=0.01
                            onchange={changeOfficeHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_medium">
                        <lightning-formatted-number
                            value={officeRentPerAnno}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="officeMarketPerSquareMeter"
                            value={officeMarketPerSquareMeter}
                            min=0
                            formatter="currency"
                            placeholder="0,00 €/m²"
                            step=0.01
                            onchange={changeOfficeHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_medium">
                        <lightning-formatted-number
                            value={officeMarketPerAnno}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div class="slds-border_bottom">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="slds-p-left_small slds-p-top_small"><b>Summen</b></div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={sumArea}
                            maximum-fraction-digits="2">
                        </lightning-formatted-number>&nbsp;m²
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={sumRentPerSquareMeter}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>/m²
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={sumRentPerAnno}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={sumMarketPerSquareMeter}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>/m²
                    </div>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={sumMarketPerAnno}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="slds-p-left_small">Kalkulation</div>
                </td>
                <td>
                    <div class="slds-p-left_small">Over-/ Underrent</div>
                </td>
                <td>
                    <div class="slds-p-left_small">ERV</div>
                </td>
                <td>
                    <div class="slds-p-left_small">Vervielfältiger</div>
                </td>
                <td>
                    <div class="slds-p-left_small">Kaufpreis</div>
                </td>
                <td>
                    <div class="slds-p-left_small">... pro m²</div>
                </td>
            </tr>
            <tr>
                <td>
                    <lightning-formatted-number
                        value={calculationOverUnderrent}
                        format-style="percent"
                        maximum-fraction-digits="2">
                    </lightning-formatted-number>
                </td>
                <td>
                    <lightning-formatted-number
                        value={calculationERV}
                        format-style="currency"
                        currency-code="EUR"
                        currency-display-as="symbol">
                    </lightning-formatted-number>
                </td>
                <td>
                    <div class="slds-p-left_small">
                        <lightning-input
                            type="number"
                            name="calculationMultiplier"
                            value={calculationMultiplier}
                            step=0.01
                            onblur={changeCalculationMultiplierHandler}>
                        </lightning-input>
                    </div>
                </td>
                <td>
                    <lightning-formatted-number
                        value={calculationPurchasePrice}
                        format-style="currency"
                        currency-code="EUR"
                        currency-display-as="symbol">
                    </lightning-formatted-number>
                </td>
                <td>
                    <div class="slds-p-left_small slds-p-top_small">
                        <lightning-formatted-number
                            value={calculationPerSquareMeter}
                            format-style="currency"
                            currency-code="EUR"
                            currency-display-as="symbol">
                        </lightning-formatted-number>/m²
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <lightning-layout multiple-rows="true">
            <lightning-layout-item flexibility="auto" padding="around-small" size=12 class="slds-align_absolute-center">
                <lightning-button
                    class="slds-m-top_small"
                    variant="brand"
                    type="submit"
                    name="save"
                    label="Save"
                    onclick={handleSave}>
                </lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    <!--<lightning-layout multiple-rows="true">-->
        <!-- BEGIN: 1st row. -->
        <!--<lightning-layout-item flexibility="auto" padding="around-small" size=2>
            Nutzung
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            Fläche in m&#178;
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            Miete IST/m&#178;
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            Miete IST pa
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            ... Markt/m&#178;
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small" size=2>
            ... Markt pa
        </lightning-layout-item>-->
        <!-- END: 1st row. -->
    <!--</lightning-layout>-->
    
    <!--<lightning-layout multiple-rows="true">-->
        <!-- Begin: 2nd row. -->
        <!--<lightning-layout-item flexibility="auto" padding="around-small" size=2>
            <div class="slds-p-top_small">Büro</div>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="officeArea"
                value={officeArea}
                min=0
                placeholder="0 m²"
                step=0.01
                onchange={changeOfficeHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="officeRentPerSquareMeter"
                value={officeRentPerSquareMeter}
                min=0
                formatter="currency"
                placeholder="0,00 €/m²"
                step=0.01
                onchange={changeOfficeHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="officeRentPerAnno"
                value={officeRentPerAnno}
                placeholder="0 €"
                step=0.01
                formatter="currency"
                readonly="readonly"
                onchange={changeOfficeHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="officeMarketPerSquareMeter"
                value={officeMarketPerSquareMeter}
                min=0
                formatter="currency"
                placeholder="0,00 €/m²"
                step=0.01
                onchange={changeOfficeHandler}>
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="number"
                name="officeMarketPerAnno"
                value={officeMarketPerAnno}
                placeholder="0 €"
                formatter="currency"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>-->
        <!-- END: 2nd row. -->
    <!--</lightning-layout>-->
    

    <!--<lightning-layout multiple-rows="false">-->
        <!--<div class="slds-border_bottom">&nbsp;</div>-->
    <!--</lightning-layout>-->

    <!--<lightning-layout multiple-rows="true">-->
        <!-- Begin: Last row. -->
        <!--<lightning-layout-item flexibility="auto" padding="around-small" size=2>
                <div class="slds-p-top_small">Summen</div>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="text"
                name="sumArea"
                value={sumArea}
                placeholder="0 m²"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="text"
                name="sumRentPerSquareMeter"
                value={sumRentPerSquareMeter}
                placeholder="0,00 €/m²"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="text"
                name="sumRentPerAnno"
                value={sumRentPerAnno}
                placeholder="0 €"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="text"
                name="sumMarketPerSquareMeter"
                value={sumMarketPerSquareMeter}
                placeholder="0,00 €/m²"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="horizontal-small" size=2>
            <lightning-input
                type="text"
                name="sumOfficeMarketPerAnno"
                value={sumOfficeMarketPerAnno}
                placeholder="0 €"
                readonly="readonly">
            </lightning-input>
        </lightning-layout-item>-->
        <!-- END: Last row. -->
    <!--</lightning-layout>-->
</template>