<template>
    <lightning-layout>
        <lightning-layout-item size="2">
            <slot name="left"></slot>
        </lightning-layout-item>
        <lightning-layout-item class="slds-p-left_small slds-p-right_small" size="7">
            <slot name="center"></slot>
        </lightning-layout-item>
        <lightning-layout-item size="3">
            <slot name="right"></slot>
        </lightning-layout-item>
    </lightning-layout>
</template>