<template>
    <template if:true={showDetails}>
        <!-- ACCOUNT DETAILS STARTS -->
		test
        <template if:true={showAccountDetails}>
            <template if:true={dataReceived}>
                
                <lightning-card icon-name="standard:account">
                    
                    <span slot="title">{label.account}</span>

                    <lightning-button-icon
                        icon-name="utility:expand_alt"
                        slot="actions"
                        onclick={handleNavigateToRecord}
                        data-name="Account"
                    ></lightning-button-icon>

                    <div class="slds-p-left_small slds-p-right_small">
                            <lightning-record-form
                                    record-id={detailsObject.accountId}
                                    mode="view"
                                    object-api-name="Account"
                                    fields={accountFormFields}
                                    columns={formColumns}>
                            </lightning-record-form>
                    </div>
                </lightning-card>

            </template>
        </template>
        <!-- ACCOUNT DETAILS ENDS -->

        <div class="slds-m-top_medium"></div>

         <!-- CONTACT DETAILS STARTS -->
        <template if:true={showContactDetails}>
            <template if:true={dataReceived}>
                
                <lightning-card icon-name="standard:contact">

                    <span slot="title">{label.contact}</span>

                    <lightning-button-icon
                        icon-name="utility:expand_alt"
                        slot="actions"
                        onclick={handleNavigateToRecord}
                        data-name="Contact"
                    ></lightning-button-icon>

                    <div class="slds-p-left_small slds-p-right_small">
                        <lightning-record-form
                                mode="view"
                                record-id={detailsObject.contactId}
                                object-api-name="Contact"
                                fields={contactFormFields}
                                columns={formColumns}>
                        </lightning-record-form>
                    </div>

                </lightning-card>

            </template>
        </template>
        <!-- CONTACT DETAILS ENDS -->

        <div class="slds-m-top_medium"></div>

        <lightning-card title={label.acquisitionProfiles} icon-name="custom:custom69">
			<template if:true={acquisitionProfiles}>
            <div class="slds-card__body slds-card__body_inner">
                <lightning-datatable key-field="Id"
                                    data={acquisitionProfiles}
                                    columns={apColumns}
                                    resize-column-disabled
                                    hide-checkbox-column>
                </lightning-datatable>
            </div>
			</template>

        </lightning-card>
    </template>
</template>