.filtering-element {
	border: 1px solid #dddbda;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	margin-bottom: .85em;
}

.accordion-active {
	font-weight: bold;
}

.accordion-item {
	font-weight: normal;
}