<template>
    <template if:true={contact}>
        <template if:false={popover}>
            <!-- show as modal -->
            <section
                role="dialog"
                class="slds-modal slds-fade-in-open slds-modal_small"
            >
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button
                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title={label.close}
                            onclick={closeModal}
                        >
                            <lightning-icon
                                icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small"
                            >
                            </lightning-icon>
                            <span class="slds-assistive-text"
                                >{label.close}</span
                            >
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">
                            {label.headline}
                        </h2>
                    </header>

                    <div class="slds-modal__content slds-p-around_medium">
                        <lightning-record-view-form
                            record-id={contact}
                            object-api-name="Contact"
                        >
                            <lightning-output-field
                                field-name="Title"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="Name"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="ContactLanguage__c"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="Email"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="Phone"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="MobilePhone"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="AccountId"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="MailingAddress"
                            ></lightning-output-field>
                            <lightning-output-field
                                field-name="Description"
                            ></lightning-output-field>
                        </lightning-record-view-form>
                    </div>

                    <footer class="slds-modal__footer">
                        <lightning-button
                            data-id="closeButton"
                            label={label.close}
                            title={label.close}
                            onclick={closeModal}
                        >
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

        <template if:true={popover}>
            <!-- show as popover ... not totaly implemented yes -->
            <div>
                <lightning-record-view-form
                    record-id={contact}
                    object-api-name="Contact"
                >
                    <div class="slds-box popover">
                        <lightning-output-field
                            field-name="Title"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="Name"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="ContactLanguage__c"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="Email"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="Phone"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="MobilePhone"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="AccountId"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="MailingAddress"
                        ></lightning-output-field>
                        <lightning-output-field
                            field-name="Description"
                        ></lightning-output-field>
                    </div>
                </lightning-record-view-form>
            </div>
        </template>
    </template>
</template>