<template>
    <lightning-card title="Filters" icon-name="standard:calibration">
        <lightning-button
            slot="actions"
            label="Reset"
            onclick={handleReset}
        ></lightning-button>

        <div class="slds-m-around_medium">
            <div class="slds-p-bottom_large">
                <lightning-input
                    name="searchKey"
                    label="Search Key"
                    type="text"
                    value={searchKey}
                    onchange={changeHandler}
                ></lightning-input>
            </div>
        <div class="slds-p-bottom_small">
            <c-return-range
                eventname="ReturnRange__yearOfConstructionRangeChange"
                mode="number"
                label="Year Of Construction"
                min={minYearOfConstruction}
                max={maxYearOfConstruction}
                step="1"
            ></c-return-range>
        </div>
        </div>
    </lightning-card>
</template>