.THIS {
}

.THIS .container
{
    background-color: white !important;
}

.THIS .slds-card__body
{
    height: 250px !important;
}

.THIS .slds-card__footer
{
    display: flex !important;
    justify-content: space-between !important;
}