<template>
    <lightning-card title={relatedListTitle} icon-name={iconName}>
        <div class="slds-p-around--small slds-is-relative">
            <template if:false={hasRecords}>
                {label.noRecordsFound}
            </template>
        </div>

        <!--<template if:true={showViewAll}>
            <div class="slds-text-align_center slds-p-top--small">
                <a onclick={openFullViewPage}>{label.viewAll}</a>
            </div>
        </template>-->

        <!--<template if:false={data}>
            <div style="height: 70px">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>-->
    </lightning-card>
</template>