<template>
    <lightning-card title={relatedListTitle} icon-name={iconName}>
        <div class="slds-p-around--small slds-is-relative">
            <template if:true={hasRecords}>
                <!--desktop version-->
                <template if:true={isDesktopDevice}>
                    <lightning-datatable
                        key-field="key"
                        data={data}
                        columns={columns}
                        hide-checkbox-column="true"
                        onsort={sortHandler}>
                    </lightning-datatable>
                </template>
                <!--mobile version-->
                <template if:false={isDesktopDevice}>
                    <div for:each={data} for:item="row" key={data.key} style="border-bottom: 1px solid #ccc" class="slds-p-vertical--small">
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {accountNameLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                <a href={row.accountUrl} title={row.accountName} target="_blank">{row.accountName}</a>
                            </lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {contactLastNameLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                <a href={row.contactUrl} title={row.contactLastName} target="_blank">{row.contactLastName}</a>
                            </lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {contactFirstNameLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                <a href={row.contactUrl} title={row.contactFirstName} target="_blank">{row.contactFirstName}</a>
                            </lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {contactPhoneLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                <lightning-formatted-phone value={row.contactPhone}></lightning-formatted-phone>
                            </lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {contactEmailLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                <lightning-formatted-email value={row.contactEmail}></lightning-formatted-email>
                            </lightning-layout-item>
                        </lightning-layout>
                        <lightning-layout>
                            <lightning-layout-item size="6">
                                {contactToAccountToAreaRoleLabel}
                            </lightning-layout-item>
                            <lightning-layout-item size="6">
                                {row.contactRole}
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                </template>
            </template>
            <template if:false={hasRecords}>
                {label.noRecordsFound}
            </template>
        </div>

        <template if:true={showViewAll}>
            <div class="slds-text-align_center slds-p-top--small">
                <a onclick={openFullViewPage}>{label.viewAll}</a>
            </div>
        </template>

        <template if:false={data}>
            <div style="height: 70px">
                <lightning-spinner alternative-text="Loading"></lightning-spinner>
            </div>
        </template>
    </lightning-card>
</template>