<template>
    <lightning-card title={label.relatedListTitle} icon-name={iconName}>
        <div class="slds-p-around--small">
            <template if:true={hasRecords}>
                <div style="height: 100px;">
                    <lightning-datatable
                            key-field="key"
                            data={data}
                            columns={columns}>
                    </lightning-datatable>
                </div>   
            </template>     
            
            <template if:false={hasRecords}>
                {label.noRecordsFound}
            </template>

            <template if:true={showSpinner}>
                <div style="height: 70px">
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </div>
            </template>
        </div>
    </lightning-card>
</template>