<!--
 - @author npo
 - @copyright PARX
 -->

<!-- Picklist -->
<template>
<!--	<select name="access" class="slds-input slds-combobox__input" onchange={handleValueChange}>-->
<!--		<template for:each={values} for:item="option">-->
<!--			<option selected={option.selected} key={option.value} value={option.value}>{option.label}</option>-->
<!--		</template>-->
<!--	</select>-->
	<lightning-combobox
			value={selectedValue}
			options={values}
			variant='label-hidden'
			disabled={isDisabled}

			onchange={handleValueChange} ></lightning-combobox>
</template>