<template>
    <li class="slds-listbox__item" role="presentation" key={item} onclick={handleOnClick}>
        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
            
            <!-- CHECKMARK ICON -->
            <span class="slds-media__figure slds-listbox__option-icon">
                <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                    <template if:true={showCheckmark}>
                        <lightning-icon
                            size="x-small"
                            icon-name="utility:check"
                            alternative-text="Check"
                        ></lightning-icon>
                    </template>
                </span>
            </span>

            <span class="slds-media__body">
                <span class="slds-truncate" title={label}>
                    {prefixSearchTerm}<mark>{markedSearchTerm}</mark>{suffixSearchTerm}
                </span>
            </span> 
        </div>
    </li>
</template>