<template>
    <lightning-layout>
        <lightning-layout-item flexibility="no-grow">
            <lightning-input type="checkbox" label="" name="cb1" checked></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="11" flexibility="auto">
            <template if:true={picklistValues.data}>
                <p style="margin: 2px 0 5px 0">{sectionLabel}</p>
                <div>
                    <lightning-tree items={items} header="" onselect={handleOnselect} class="helloFromMyHeart"></lightning-tree>
                </div>
            </template>
        </lightning-layout-item>
    </lightning-layout>
</template>