<template>
    <div class="slds-p-around--small slds-m-bottom--small" style="background: #f9f9f9; color: #383d41">
        <lightning-layout>
            <lightning-layout-item size="1">
                <lightning-icon size="x-small" icon-name="utility:info" alternative-text="Info" ></lightning-icon>
            </lightning-layout-item>
            <lightning-layout-item size="11">
                <p style="padding-top: 1px">{label.investorsSelectionBidderTabMessage}</p>
            </lightning-layout-item>
        </lightning-layout>
    </div>
    <div>
        <lightning-combobox
            name={label.investorsSelectionArea}
            label={label.investorsSelectionArea}
            placeholder="Choose Area"
            value={picklistValue}
            onchange={handlePicklistChange}
            options={picklistOptions}>
        </lightning-combobox>
    </div>
    <template if:true={showDateInputs}>
        <div>
            <lightning-input 
                data-id="dateInputStartDate" 
                type="date" value={startDateValue} 
                label={label.investorsSelectionStartDate} 
                onchange={handleStartDateChange} 
                disabled={dateInputsDisabled}>
            </lightning-input>
        </div>
        <div>
            <lightning-input 
                data-id="dateInputEndDate" 
                type="date" value={endDateValue} 
                label={label.investorsSelectionEndDate} 
                onchange={handleEndDateChange} 
                disabled={dateInputsDisabled}>
            </lightning-input>
        </div>
    </template>
</template>