<template>
    <lightning-card>
        <div class="slds-text-heading_large slds-p-left_medium">{label.sectionOpenBrandOpps}</div><br/>
        <lightning-datatable
            key-field="id"
            data={openBrandOppData}
            columns={oppBrandColumns}
            hide-checkbox-column>
        </lightning-datatable>
    </lightning-card>
</template>