<template>
    <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12">
            <lightning-input
                name="searchTerm"
                label={label.searchDescription}
                data-name="searchTerm"
                data-id="searchTerm"
                type="search"
                value={searchTerm}
                onkeyup={handleKeyUp}
                placeholder={label.searchPlaceholder}
                autocomplete="testtest"
                onchange={handleInputChange}
            ></lightning-input>
        </lightning-layout-item>
        <lightning-layout-item size="12">
            <lightning-radio-group
                name="searchType"
                label={label.objToSearchFor}
                options={searchTypeOptions}
                value={objectApiName}
                type="radio"
                onchange={radioGroupChangeHandler}>
            </lightning-radio-group>
        </lightning-layout-item>

		<template if:true={isContactSelected}>
            <lightning-layout-item class="slds-m-top_x-small">
                <lightning-combobox
                label={label.contactListViewLabel}
                name="progress"
                value={contactSelectedListView}
                placeholder={label.selectListViewLabel}
                options={contactListViewOptions}
                onchange={handleContactListViewChange} ></lightning-combobox>
            </lightning-layout-item>
		</template>

		<template if:true={isAccountSelected}>
			<lightning-layout-item class="slds-m-top_x-small">
				<lightning-combobox
				label={label.accountListViewLabel}
				name="progress"
				value={accountSelectedListView}
				placeholder={label.selectListViewLabel}
				options={accountListViewOptions}
				onchange={handleAccountListViewChange} ></lightning-combobox>
			</lightning-layout-item>
		</template>

		<template if:true={isOpportunitySelected}>
			<lightning-layout-item class="slds-m-top_x-small">
				<lightning-combobox
				name="progress"
				value={opportunitySelectedListView}
				label="Opportunity Listenansichten"
				placeholder={label.selectListViewLabel}
				options={opportunityListViewOptions}
				onchange={handleOpportunityListViewChange} ></lightning-combobox>
			</lightning-layout-item>
		</template>

    </lightning-layout>


    <template if:true={error}>
        <c-inline-message
            variant="error"
            message="Error retrieving data."
            errors={error}
        ></c-inline-message>
    </template>
</template>