<template>
    <a onclick={handlePropertySelected}>
        <div class="tile" style={backgroundImageStyle}> <!-- -->
            <div class="lower-third">
                <h1 class="truncate">{property.Name}</h1>
                <p>Total:   <lightning-formatted-number
                                value={property.SqmInTotal__c}
                                maximum-fraction-digits="0">
                            </lightning-formatted-number>&nbsp;m² - Office: {property.sqmOffice__c}</p>
                
                <p>
                    <lightning-formatted-number
                        format-style="currency"
                        currency-code="EUR"
                        value={property.YieldActual__c}
                    ></lightning-formatted-number>
                </p>
            </div>
        </div>
    </a>
</template>