<template>
    <div class="slds-m-bottom--medium">
        <div class="slds-m-top--xx-small">
            <lightning-input type="checkbox" label={sectionLabel} name="cb1" checked={isSectionEnabled} onchange={handleCheckboxStateChange}></lightning-input>
        </div>
        <lightning-layout>
            <lightning-layout-item flexibility="auto">
                <lightning-layout>
                    <lightning-layout-item size="6" flexibility="auto" padding="horizontal-small">
                        <lightning-input type="number" name="inputMin" value={min} label={label.rangeFrom} onchange={handleValueChange}
                                         disabled={elementDisabled}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="6" flexibility="auto" padding="horizontal-small">
                        <lightning-input type="number" name="inputMax" value={max} label={label.rangeTo} onchange={handleValueChange}
                                         disabled={elementDisabled}></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>