<template>
    <div class="slds-grid slds-wrap slds-gutters">
        <div class="slds-col slds-size_1-of-2">
            <lightning-input data-id="dateInput" type="date" value={dateValue} label={label.date} required></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2"></div>
        <template if:true={typeIsBid}>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input type="number" label={label.amount}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2"></div>
        </template>
        <template if:false={typeIsBid}>
            <div class="slds-col slds-size_2-of-2">
                <lightning-input data-id="topicInput" type="text" label={label.topic} required></lightning-input>
            </div>
        </template>
        <div class="slds-col slds-size_2-of-2">
            <lightning-textarea data-id="commentInput" label={label.comment}></lightning-textarea>
        </div>
        <template if:true={typeIsTask}>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input data-id="dueDateInput" type="date" label={label.dueDate} ></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2"></div>
        </template>
        <template if:true={typeIsEvent}>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input data-id="startDateInput" type="date" label={label.startDate} required></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-input data-id="endDateInput" type="date" label={label.endDate}></lightning-input>
            </div>
        </template>
        <div class="slds-col slds-size_1-of-2">
            <c-lookup
                lookup-id={value}
                field-api-name={contactField.apiName}
                object-api-name={contactField.objectApiName}
                onsearch={handleContactsLookupSearch}
                onselectionchange={handleContactSelectionChange}
                label={label.contacts}
                onchange={handleContactsChange}
                is-multi-entry={contactField.isMultiEntry}
                data-id="nameSearchInput"
                required
                invalid-message={label.contactsErrorMessage}
                >
            </c-lookup>
        </div>
    
        <div class="slds-col slds-size_1-of-2">
                <c-lookup
                lookup-id={value}
                field-api-name={enquiryField.apiName}
                object-api-name={enquiryField.objectApiName}
                onsearch={handleEnquiryLookupSearch}
                onselectionchange={handleEnquirySelectionChange}
                label={label.enquiry}
                onchange={handleEnqiryChange}
                is-multi-entry={enquiryField.isMultiEntry}
                data-id="enqirySearchInput"
                >
            </c-lookup>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <c-lookup
                lookup-id={userId}
                field-api-name={userField.apiName}
                object-api-name={userField.objectApiName}
                onsearch={handleOwnerLookupSearch}
                onselectionchange={handleOwnerSelectionChange}
                label={label.assignedTo}
                onchange={handleOwnerChange}
                is-multi-entry={userField.isMultiEntry}
                data-id="ownerSearchInput"
                >
            </c-lookup>
        </div>
       
        <div class="slds-col slds-size_1-of-2">
            <c-investors-list-activity-status-form></c-investors-list-activity-status-form>
        </div>
    </div>
    

</template>