<template>
    <lightning-card title={labels.investorActivities} icon-name="standard:task">
        <div class="slds-p-around--small slds-is-relative">
            <template if:true={activities}>
                <template if:false={hasNoActivities}>
                    <!--desktop version-->
                    <template if:true={isDesktopDevice}>
                        <c-investor-activities-data-table
                                key-field="Id"
                                data={activities}
                                columns={columns}
                                hide-checkbox-column="true"
                        ></c-investor-activities-data-table>
                    </template>
                    <!--mobile version-->
                    <template if:false={isDesktopDevice}>
                        <div for:each={activities} for:item="activity" key={activity.Id} style="border-bottom: 1px solid #ccc" class="slds-p-vertical--small">
                            <lightning-layout>
                                <lightning-layout-item size="6">
                                    {labels.subject}:
                                </lightning-layout-item>
                                <lightning-layout-item size="6">
                                    <a href={activity.activityUrl} title={activity.Subject} target="_blank">{activity.Subject}</a>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout>
                                <lightning-layout-item size="6">
                                    {labels.date}:
                                </lightning-layout-item>
                                <lightning-layout-item size="6">
                                    <lightning-formatted-date-time value={activity.ActivityDate} year="numeric" month="2-digit" day="2-digit"></lightning-formatted-date-time>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout>
                                <lightning-layout-item size="6">
                                    {labels.contacts}:
                                </lightning-layout-item>
                                <lightning-layout-item size="6">
                                <div for:each={activity.contactList} for:item="contact" key={contact.Id}>
                                    <div><a href={contact.url} title={contact.name} target="_blank">{contact.name}</a></div>
                                </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                    </template>
                    <template if:true={showViewAll}>
                        <div class="slds-text-align_center slds-p-top--small">
                            <a href={viewAllLink}>{labels.viewAll}</a>
                        </div>
                    </template>
                </template>
                <template if:true={hasNoActivities}>
                    {labels.noActivitiesFound}
                </template>
            </template>
            <template if:false= {activities}>
                <div style="height: 70px">
                    <lightning-spinner alternative-text="Loading"></lightning-spinner>
                </div>
            </template>
            <template if:true={error}>
                {labels.loadingError}
            </template>
        </div>
    </lightning-card>
</template>