<template>
        <template if:true={showModal}>
            <section
                role="dialog"
                class="slds-modal slds-fade-in-open slds-modal_medium"
            >
                <div class="slds-modal__container" style="width: 240px">
                    <header class="slds-modal__header">
                        <button
                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title={label.close}
                            onclick={closeModal}
                        >
                            <lightning-icon
                                icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small"
                            >
                            </lightning-icon>
                            <span class="slds-assistive-text">{label.close}</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">
                            {label.header}
                        </h2>
                    </header>

                    <div class="slds-modal__content slds-p-around_medium slds-scrollable_y" style="min-height: 300px">
                        <template if:true={recordsToUpdate}>
                            <div class="slds-text-body_regular">{label.text}</div>
                            <ul style="list-style-type: disc; padding-top: 16px; padding-left: 16px; padding-bottom: 16px;">
                                <template for:each={recordsToUpdate} for:item="item">
                                    <li key={item.Id}>{item.Name}</li>
                                </template>
                            </ul>
                            <div class="slds-text-body_regular">{label.newState}</div>
                            <lightning-combobox
                                value={picklistValues.data.values}
                                options={picklistValues.data.values}
                                label={label.status}
                                onchange={handleComboboxChange}
                                ></lightning-combobox>

                            <template if:true={showAmount}>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input type="number" data-id="amountInput" onchange={handleAmountChange} value={amountValue} label={label.amount} required></lightning-input>
                                </div>
                                <div class="slds-col slds-size_1-of-2"></div>
                            </template>

                            <lightning-input data-id="dateInput" type="date" value={dateValue} label={label.statusDateLabel}></lightning-input>

                            <br/>
                            <template if:true={declinationSelected}>
                                <c-autocomplete-combobox
                                object-and-field-api-name="AccountToOpportunity__c.ReasonForRejection__c"
                                record-type-id={defaultRecordTypeId}
                                icon-name="standard:account"
                                onchange={handleDeclinationReasonChange}
                                field-label={label.declination}
                            ></c-autocomplete-combobox>
                            </template>
                            <br/>
                        </template>
                    </div>

                    <footer class="slds-modal__footer">
                        <lightning-button
                            data-id="closeButton"
                            label={label.cancel}
                            title={label.cancel}
                            onclick={closeModal}
                            style="padding-right: 12px"
                        >
                        </lightning-button>
                        <lightning-button
                            data-id="deleteButton"
                            label={label.update}
                            title={label.update}
                            onclick={updateInvestors}
                            disabled={saveButtonDisabled}
                            variant="brand">
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>