<template>
    <div style="min-height: 100px;">
        <lightning-spinner if:true={isLoading} alternative-text="Loading" size="medium"></lightning-spinner>

        <template if:false={isLoading}>
            <template if:true={showMap}>
                <lightning-map
                    map-markers={mapMarkers}
                    zoom-level={zoomLevel}
                    list-view="hidden"
                ></lightning-map>
            </template>

            <template if:false={showMap}>
                <c-inline-message
                    message={error}
                ></c-inline-message>
            </template>
        </template>
    </div>
</template>